.page {
  position: relative;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--page-background-image);
  background-attachment: fixed;
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.header {
  align-items: start;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--rec-decoration-color);
  border-block-start: 1px solid var(--rec-decoration-color);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--rec-decoration-color);
  border-block-end: 1px solid var(--rec-decoration-color);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec-decoration {
  visibility: var(--rec-decoration-visibility);
}

.rec-decoration::before {
  position: absolute;
  inset-inline-end: 38px;
  content: "rec";
  text-transform: uppercase;
  color: var(--rec-decoration-color);
}

.rec-decoration::after {
  position: absolute;
  content: "";
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--rec-decoration-color);
  box-shadow: 0 0 4px 2px var(--rec-decoration-color);
  inset-inline-end: 19px;
  inset-block-start: 18px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background-color: transparent;
  text-transform: lowercase;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  color: var(--menu-theme-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
  cursor: default;
}

.header__theme-menu-button:hover {
  border-color: var(--border-hover-color);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.title-decoration {
  color: var(--title-color);
  background-color: var(--background-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.header-title {
  margin-block: 55px;
}

.rec-decor {
  position: absolute;
  visibility: var(--rec-decor-visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.rec-decoration::before {
  content: "REC";
  color: var(--rec-decoration-color);
  line-height: 24px;
}

.rec-decoration::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  background-color: var(--rec-decoration-color);
  box-shadow: 0 0 4px 2px var(--rec-decoration-color);
  inline-size: 9px;
  block-size: 9px;
}

.page-title-decoration {
  color: var(--page-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.page-title-shadow {
  text-shadow: 4px 4px 0 var(--text-shadow);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section-list {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.section__text {
  margin-block-start: 10px;
}

.section-text-link {
  text-decoration: none;
  position: relative;
}

.text-decoration-item {
  text-shadow: 2px 2px var(--text-shadow);
}

.section-text-link:hover::after {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  box-shadow: none;
}

.section-text-link:focus {
  outline: 0;
}

.section-text-link:focus-visible {
  outline: 1px solid currentColor;
}

.text-decoration {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.section-gallery {
  display: grid;
  gap: 10px;
}

.image-list {
  display: grid;
  gap: 10px;
}

.image-list__item-image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
}

.footer__title-shadow {
  text-shadow: 2px 2px var(--text-shadow);
}

@media screen and (min-width: 768px) {
  .rec-decoration::before {
    inset-inline-end: 49px;
  }

  .rec-decoration::after {
    inset-inline-end: 29px;
    inset-block-start: 29px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header-title {
    justify-self: flex-end;
    inline-size: clamp(364px, calc(100% / 2), 491px);
  }

  .page-title {
    margin-inline-start: -20px;
  }

  .page-title-decoration {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  section {
    grid-template-columns: 236px 1fr;
  }

  .section-grid-decoration {
    grid-column-start: span 2;
  }

  .footer__section-grid-decoration {
    grid-template-columns: none;
  }

  .section-grid-decoration-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-gallery {
    gap: 20px;
  }

  .image-list {
    gap: 20px;
  }
  .image-list__item:first-child,
  .image-list__item:last-child {
    grid-column-start: span 2;
  }

  .image-list__item:nth-child(2),
  .image-list__item:nth-child(3) {
    grid-row-start: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-block-start: -62px;
    margin-block-end: 208px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .section {
    grid-template-columns: 315px 1fr;
  }

  .section-articles {
    grid-template-columns: 1fr;
  }

  .footer__section-grid-decoration {
    grid-template-columns: none;
  }

  .section-grid-decoration-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}
